.notConnectedImage{
    background:url(/images/UofA.jpg) center;
    background-size: 560px 360;
}

#centervid {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#group {
    position: absolute;
    margin: auto;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#topcenter{
	position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secondary{
    background: white;
    z-index: :100;
}

#videotext{
	position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html body {
    background:#4169E1;
}

#sonar{
	position: absolute;
    top: 10%;
    left: 130%;
    transform: translate(-50%, -50%);
}

#sonaroutput{
	position: absolute;
    top: 20%;
    left: 130%;
    transform: translate(-50%, -50%);
}

#JSTRING{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#batteryPosition{
    position: absolute;
    top: 100%;
    left: -23%;
    transform: translate(-50%, -50%);
}

#batteryPosition2{
    position: absolute;
    top: 100%;
    left: -23%;
    transform: translate(-50%, -50%);
}

#breaking{
    position: absolute;
    top: 60%;
    left: 130%;
    transform: translate(-50%, -50%);

}

#break{    
    position: absolute;
    top: 80%;
    left: 130%;
    transform: translate(-50%, -50%);

}

#log{
    position: absolute;;
    top: 95%;
    left: 105%;
    transform:translate(-50%, -50%);       
}

#loginfo{
    position: absolute;;
    top: 115%;
    left: 130%;
    transform:translate(-50%, -50%);
}

